.btn_start {    
	background: #669999;
	text-shadow: 1px 1px 5px black;
	margin-left:135px;
}

.label {
	font-size:60px;
	color:red;
}

.btn_start:hover {
	background: #669980;
	color: #fff;
}

.btn_checkpoint:hover {
	color: #669999;
}
